/FileClassRun.class
/FileCopyTest.class
/FileDirTest.class
/IOTest.class
/MakeSomethingNew.class
/StreamTest1.class
/StreamTest2.class
/StreamTest3.class
/StreamTest4$Person.class
/StreamTest4.class
/StreamTest5.class
/StreamTest6.class
/Student.class
